/*fonts!*/
@font-face {
    font-family: AquireBold;
    src: url(fonts/AquireBold-8Ma60.otf);
  } 
@font-face {
    font-family: Aquire;
    src: url(fonts/Aquire-BW0ox.otf);
}

/*title bit*/
/*title segment*/
.company-name-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .company-name {
    text-align: center;
    font-family: AquireBold;
    font-size: 450%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .float-up {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }
/*working!!!*/
 .float-down {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }

/*menu*/
.sticky-top{
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
    z-index: 999;
    opacity: 90%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
 nav ul li {
    margin: 0 10px;
  }
  
nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: Aquire;
    font-size: 30px;
    font-weight: 600;
  }
nav ul li button {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    padding: 0px;
    border: none;
    font-family: Aquire;
    font-size: 30px;
    font-weight: 600;
  }
  
  .menu-hidden {
    transform: translateY(-100%);
  }
  
  .menu-visible {
    transform: translateY(0);
  }

  /*body*/
  body {
    background-image: url("images/background1.jpg");
    background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      max-width: 100%;
      overflow-x: hidden;
    }
    .pictureContainer {
        background-color: #ffffff;
        opacity: 90%;
        display: absolute;
        color: black;
        max-width: 25%;
        align-items: center;
        
    }
    .pictureContainer img {
        height: auto;
        max-width: 100%;
        margin-right: 10px;
    }
    #mainBody{
        background-color: #333;
        opacity: 90%;
        align-items: center;
        display: flex;
        color:#ffffff;
    }