body { 
    margin: 0; 
    background-color: black;
}
#exploreButton {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);

    padding: 20px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    font-size: 22px;
}
#exploreButton:hover {
    opacity: 70%;
}
#exploreButton:active {
    opacity: 40%;
}
#welcomeHeader {
    color: white;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
}

#welcomeText {
    color: white;
    position: absolute;
    left: 50%;
    top: 9%;
    transform: translate(-50%, -9%);
    font-size: 18px;
}
