/* Hey, CSS Wizards, can you take a look at
https://webdevtrick.com/css-expand-button-on-hover/?adlt=strict&toWww=1&redig=B3ABD08F7D5149C693977D27BB730E8F
I am having a hard time understanding. If possible, please integrate it with our current code with out breaking the page.
Thanks again, 
Derek Borden 
*/


/*fonts!*/
@font-face {
  font-family: AquireBold;
  src: url(fonts/AquireBold-8Ma60.otf);
} 
@font-face {
  font-family: Aquire;
  src: url(fonts/Aquire-BW0ox.otf);
}

body { 
    margin: 0; 
    background-color: black;
}
#exploreButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
  font-family: AquireBold;
  color: white;
  font-size: 22px;
}


#exploreButton:hover span {
  position: relative;
  padding-right: 25px;
}

#exploreButton:hover span:after {
  content: "→";
  position: absolute;
  opacity: 1;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#exploreButton:active {
  opacity: 40%;
}

#welcomeHeader {
  color: white;
  position: relative;
  font-family: AquireBold;
  font-size: 80px;
  text-align: center;
  
  margin-top: 50px;
}

#welcomeText {
  color: white;
  position: relative;
  font-family: AquireBold;
  font-size: 18px;
  text-align: center;
  margin-top: 15%;
}


.sti_container {
  position: relative;
}
