body {
    background-color: rgb(180, 180, 180);
}
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
.grid-container {
    background-color: rgb(180, 180, 180);
    border-style: solid;
    display: grid;
    height: 100%;
    width:100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}
.grid-item {
    border-style: solid;
    background-color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    width: 20%;
}
#earth {
    grid-row-start: span 3;
}
#venus {
    grid-row-start: span 2;
}
#mars {
    grid-row-start: span 2;
}
#jupiter {
    /*Would like substyling like title, image, subtext for image. all stacked*/
}
#saturn {
    
}
#mercury {
    
}
#uranus {
    
}
#neptune {
    
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }