
/*fonts!*/
@font-face {
    font-family: AquireBold;
    src: url(fonts/AquireBold-8Ma60.otf);
  } 
@font-face {
    font-family: Aquire;
    src: url(fonts/Aquire-BW0ox.otf);
}

/*title segment*/
.company-name-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .company-name {
    text-align: center;
    font-family: AquireBold;
    font-size: 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .float-up {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }
/*not working!!!*/
  .float-down {
    height: 100vh;
    opacity: 100;
    transform: translateY(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
/*menu*/
nav {
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: Aquire;
    font-size: 30px;
    font-weight: 600;
  }
  
  .menu-hidden {
    transform: translateY(-100%);
  }
  
  .menu-visible {
    transform: translateY(0);
  }
  


/* Apply general styles to the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Apply styles to the header section */
  
  .header {
    background-color: #333;
    opacity: 90%;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .header img {
    height: 50px;
    margin-right: 10px;
  }
  
  /* Apply styles to the grid container */
  .grid-container {
    display: grid;
    grid-auto-columns: calc(50vw - 10px);
    grid-gap: 10px;
    padding: 10px;
  }
  
/* Apply styles to the grid items */

  .grid-item {
    background-color: #7a6767;
    border: 1px solid #5e4e4e;
    
    padding: 20px;
  }
  
  
  
  
  .grid-item h1 {
    margin-top: 0;
  }
  
  .MercuryTitle h1,
  .VenusSubtext h3 {
    margin-bottom: 0;
  }
  
  .grid-item .img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    height: auto;
  }
  
  
  /* Apply styles to the earth grid item */
  
  #earth {
    grid-column: span 2;
  }
  
  /* Apply styles to the website title */
  
  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
  }
  
  /* Apply styles to the planet subtext */
  
  .grid-item h3 {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 20px;
  }
  
  /* Apply styles to the planet titles */
  
  #earth h2,
  #mercury .MercuryTitle h1,
  #venus .MercuryTitle h1,
  #mars h1,
  #jupiter h1 {
    margin-bottom: 20px;
    font-size: 32px;
  }
  
  
  