/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navigation Bar Styles */
.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links li {
  list-style: none;
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}

.nav-links a::before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: blue;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::before {
  transform: scaleX(1);
}

.signup a {
  background-color: white;
  color: black;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative; /* Add this */
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%; /* Change this from 60px */
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: black;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 50%; /* Change this */
    right: 20px;
    transform: translateY(-50%); /* Add this */
    cursor: pointer;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .change .line:nth-child(2) {
    opacity: 0;
  }

  .change .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
  }
}
