* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  font-family: sans-serif;
  color: white;
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 70px;
  padding-left: 30px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  margin-right: 10px;
}

.logo a {
  font-size: 30px;
}

.nav-links {
  display: flex;
  width: 400px;
}

.nav-links li {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.nav-links a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: blue;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.5s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.signup a {
  background-color: white;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 70px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 2;
    transform: translateY(-50%);
  }

  .nav-links li {
    list-style: none;
    margin: 10px 0;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
  }

  .nav-links.active {
    transform: translateX(0%);
    visibility: visible;
  }

  .nav-links.active li {
    opacity: 1;
    transition: opacity 0.5s ease 0.3s;
  }

  .line-1.change {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .line-2.change {
    opacity: 0;
  }
  
  .line-3.change {
    transform: rotate(45deg) translate(-5px, -6px);
  } 

  .signup a {
    background-color: white;
    color: black;
    padding: 8px 16px;
  }
}
